/* FilmForm.css */
.body {
  background:linear-gradient(#00515f,#000000);
  color: #fff; /* Yazıları beyaz yap */
  height: 90vh; /* Sayfanın tamamını kaplamak için ekran yüksekliği kadar uzatır */
  
}

.page-title {
  text-align: center;
  margin-top: 100px; /* Yukarıdan boşluk */
  color: #03bcf4;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(3, 188, 244, 0.7),
  0 0 20px rgba(3, 188, 244, 0.7), 0 0 40px rgba(3, 188, 244, 0.7);
  z-index: 1000;
  font-family: "Roboto";
}



.film-form-container {
  max-width: 300px; /* Genişliği arttırıldı */
  max-height: 1000px; /* Yüksekliği azaltıldı */
  margin: 100px auto; /* Yatay merkezleme, dikey boşluk */
  margin-top: 50px; /* Yukarıdan boşluk */
  margin-bottom: 120px; /* Aşağıdan boşluk */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #02b0cf, 0 0 12px #000000;/* Gölgelendirme efekti */
  text-align: center; /* Metni ortala */
}


.film-form-container h2 {
  margin-top: 0; /* H2 başlığının üstündeki boşluğu kaldır */
  color: #fff; /* H2 başlığının yazı rengini beyaz yap */
  text-align: center; /* H2 başlığını ortala */
}

.film-form-container h3 {
  margin-left: 0; /* H3 başlığının solundaki boşluğu kaldır */
  color: #03bcf4;
  text-shadow: 0 0 10px rgba(3, 188, 244, 0.7),
  0 0 20px rgba(3, 188, 244, 0.7), 0 0 40px rgba(3, 188, 244, 0.7);
  text-align: left; /* H3 başlığını sola hizala */
}


.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #03bcf4; /* Kutucukları mavi yap */
}

input[type="text"],
input[type="date"],
input[type="file"] {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  background: white; /* Kutucukları mavi yap */
  color: #000000; /* Yazıları beyaz yap */
  text-align: start; /* Kutucukları sola hizala */
}

.poster-preview {
  max-width: 200px;
  margin-top: 10px;
}

.blue-btn {
  position: relative;
  display: inline-block;
  padding: 15px 20px; /* Düğme boyutunu sabit tut */
  font-size: 14px; /* Yazı boyutunu sabit tut */
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.5s;
  color: #03bcf4;
  border: 1.5px solid #03bcf4;
  border-radius: 7px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  background-color: transparent; /* Arka planı şeffaf yap */
  color: #03bcf4; /* Yazı rengini mavi yap */
  border: 1.5px solid #03bcf4; /* Kenar çizgisini mavi yap */
}

.blue-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1.5px solid #03e9f4; /* Kutucuğun kenarlarını düğmeyle aynı yap */
  border-radius: 7px; /* Kutucuğun köşelerini düğmeyle aynı yap */

  
}

.blue-btn:hover::before {
  border-color: #050801; /* Kutucuğun kenar rengini düğme hover rengiyle aynı yap */
  
}

.blue-btn:hover {
  background-color: #03bcf4;
  color: #050801;
  box-shadow: 0px 0px 5px #03bcf4, 0px 0px 25px #03bcf4, 0px 0px 50px #03bcf4, 0px 0px 100px #03bcf4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}


/* Yeni eklenen stiller */
.film-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Film formu konteynerlerini yatay olarak eşit aralıklarla dağıt */
}

.film-form-container {
  width: 30%; /* Film formu konteynerlerinin genişliğini ayarla */
  margin-bottom: 20px; /* Film formu konteynerleri arasına boşluk ekle */
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.nav-button {
  color: #03bcf4;
  padding: 1vh 2vw;
  font-size: 2vh;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s, text-shadow 0.3s;
}

.nav-button:hover {
  color: #fff;
  text-shadow: 0 0 1vw #03bcf4, 0 0 2vw #03bcf4, 0 0 4vw #03bcf4, 0 0 8vw #03bcf4, 0 0 16vw #03bcf4;
  border-bottom: 0.3vh solid #03bcf4;
}

.green-btn {
  position: relative;
  display: inline-block;
  padding: 15px 20px; /* Düğme boyutunu sabit tut */
  font-size: 14px; /* Yazı boyutunu sabit tut */
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.5s;
  color: #03bcf4;
  border: 1.5px solid #03bcf4;
  border-radius: 7px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  background-color: transparent; /* Arka planı şeffaf yap */
  color: #03bcf4; /* Yazı rengini mavi yap */
  border: 1.5px solid #03bcf4; /* Kenar çizgisini mavi yap */
}

.green-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1.5px solid #03e9f4; /* Kutucuğun kenarlarını düğmeyle aynı yap */
  border-radius: 7px; /* Kutucuğun köşelerini düğmeyle aynı yap */

  
}

.green-btn:hover::before {
  border-color: #050801; /* Kutucuğun kenar rengini düğme hover rengiyle aynı yap */
  
}

.green-btn:hover {
  background-color: #03bcf4;
  color: #050801;
  box-shadow: 0px 0px 5px #03bcf4, 0px 0px 25px #03bcf4, 0px 0px 50px #03bcf4, 0px 0px 100px #03bcf4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.red-btn {
  position: relative;
  display: inline-block;
  padding: 15px 20px; /* Düğme boyutunu sabit tut */
  font-size: 14px; /* Yazı boyutunu sabit tut */
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.5s;
  color: #03bcf4;
  border: 1.5px solid #03bcf4;
  border-radius: 7px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  background-color: transparent; /* Arka planı şeffaf yap */
  color: #03bcf4; /* Yazı rengini mavi yap */
  border: 1.5px solid #03bcf4; /* Kenar çizgisini mavi yap */
}

.red-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1.5px solid #03e9f4; /* Kutucuğun kenarlarını düğmeyle aynı yap */
  border-radius: 7px; /* Kutucuğun köşelerini düğmeyle aynı yap */

  
}

.red-btn:hover::before {
  border-color: #050801; /* Kutucuğun kenar rengini düğme hover rengiyle aynı yap */
  
}

.red-btn:hover {
  background-color: #03bcf4;
  color: #050801;
  box-shadow: 0px 0px 5px #03bcf4, 0px 0px 25px #03bcf4, 0px 0px 50px #03bcf4, 0px 0px 100px #03bcf4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Buton grubu ile film formu arasında boşluk */
}

.blue-btn {
  /* Diğer stiller */
  margin-right: 170px; /* Sağ taraftaki boşluk */
}

.green-btn {
  /* Diğer stiller */
  margin-right: 430px; /* Sol taraftaki boşluk */
}

.red-btn {
  /* Diğer stiller */
  margin-right: 20px; /* Sol taraftaki boşluk */
}
