.SaloonOperation:root {
 
  --ciBlue: #03bcf4;
  --ciWhite: #ffffff;
  --ciSecond: #0c1016;
}


.salon-form33 input {
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px #02b0cf, 0 0 12px #000000;
  background-color: #ffffff;
  height: 40px;
  width: 5cm ;
}

.SaloonOperation body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 170vh;
  background:linear-gradient(#00515f,#000000);
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-buttons33 {
  display: flex;
  justify-content: space-evenly;
  position: fixed; 
  top: 0; 
  width: 100%; 
  padding: 20px 0;
  z-index: 1000; 
  background-color: rgba(0, 0, 0, 0.7); 
}

.nav-button33 {
  color: #03bcf4; 
  padding: 1vh 2vw; 
  font-size: 2vh;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s, text-shadow 0.3s; 
}

.nav-button33:hover {
  color: #fff; 
  text-shadow: 0 0 1vw #03bcf4, 0 0 2vw #03bcf4, 0 0 4vw #03bcf4, 0 0 8vw #03bcf4, 0 0 16vw #03bcf4; 
  border-bottom: 0.3vh solid #03bcf4; 
}


.films33 h3 {
  margin-top: 50px;
  color: #03bcf4;
  text-shadow: 0 0 3px #02b0cf, 0 0 5px #000000fa;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "Roboto";
  overflow-x: hidden;
  
}

.App33.input{
  margin-top: 5cm;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-left: 200px;
}



.App33 {
  text-align: center;
  margin-top: 150px;
  color: #006b7e;  
}

.App33 h1{
  text-align: center;
  margin-top: 50px;
  color: #03bcf4; 
  text-shadow: 0 0 8px #00a9ca, 0 0 5px #000000; 
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  overflow-x: hidden;
}

.App33 button{
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  display: inline-block;
  padding: 13px 10px; 
  font-size: 15px; 
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.5s;
  color: #03bcf4;
  background-color: #0000006c;
  border: 1.5px solid #03bcf4;
  border-radius: 7px;
}

.App33 button::before {
  width:auto;
  height: auto;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1.5px solid #03e9f4; 
  border-radius: 7px; 
}

.App33 button:hover::before {
  border-color: #050801; 
}

.App33 button:hover {
  background-color: #03bcf4;
  color: #050801;
  box-shadow: 0px 0px 5px #03bcf4, 0px 0px 25px #03bcf4, 0px 0px 50px #03bcf4, 0px 0px 100px #03bcf4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}


.salon-form {
  margin-bottom: 20px;
}

.salon-form input {
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px; 
  box-shadow: 0 0 5px #02b0cf, 0 0 12px #000000;
  background-color: #ffffff; 
  height: 40px;
  
}

.salon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.salon-list p{
  color: #ffffffcc;
}

.salon-list button {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #0000006b;
  color: #000000;
  height: 30px;
  width: auto;
}

.salon-item input{
  margin-top: 25px ;
  color: #444444;
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  border-radius: 10px; 
  box-shadow: 0 0 5px #02b0cf, 0 0 12px #000000;
  background-color: #ffffff; 
  margin-bottom: 5px;
  width: 100%;
}


.salon-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 5px #02b0cf, 0 0 12px #000000;
  background-color: #00000054; 
}

.salon-item {
  margin-bottom: 10px;
}

.salon-item h2 {
  color: #03bcf4;
  text-shadow: 0 0 3px #02b0cf, 0 0 5px #000000fa;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "Roboto";
  overflow-x: hidden;
}


.salon-item button {
  justify-content: center;
  align-items: center;
  color: #03bcf4;
  background-color: #0000006c;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #0000004d;
  font-size: 10px;
  box-shadow: 0 0 8px #00d5ff, 0 0 12px #000000;
  height: auto ;
  width:auto;
}

.salon-item button:hover {
  background-color: #03bcf4;
}

.SaloonOperation .App{
  font-size: 15px;
}

