/* Top Navigation Bar Styles */
.top-nav {
  width: 100%;
  background: #333;
  color: white;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.top-nav nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-nav nav ul li {
  margin: 0 20px;
}

.top-nav nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  display: block;
  text-align: center;
}

/* Seat Area and Payment Button Adjustments for top navigation compatibility */
.seat-area {
  padding-top: 50px; /* Space for top navigation bar */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-area {
  width: 200px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.blue-btn {
  margin-top: 5.5cm;
  margin-left: 5.25cm;
  position: relative;
  padding: 15px 20px; /* Düğme boyutunu sabit tut */
  font-size: 14px; /* Yazı boyutunu sabit tut */
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.5s;
  color: #03bcf4;
  border: 1.5px solid #03bcf4;
  border-radius: 7px;
  bottom: 150px;
  right: 100px;
}

.blue-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1.5px solid #03e9f4; /* Kutucuğun kenarlarını düğmeyle aynı yap */
  border-radius: 7px; /* Kutucuğun köşelerini düğmeyle aynı yap */

  
}

.blue-btn:hover::before {
  border-color: #050801; /* Kutucuğun kenar rengini düğme hover rengiyle aynı yap */
  
}

.blue-btn:hover {
  background-color: #03bcf4;
  color: #050801;
  box-shadow: 0px 0px 5px #03bcf4, 0px 0px 25px #03bcf4, 0px 0px 50px #03bcf4, 0px 0px 100px #03bcf4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
