/* Statistic.css */


.nav-buttons {
    display: flex;
    justify-content: space-evenly;
    position: fixed; 
    top: 0; 
    width: 100%; 
    padding: 20px 0; 
    z-index: 1000; 
    background-color: rgba(0, 0, 0, 0.7); 
  }
  
  .nav-button {
    color: #03bcf4; 
    padding: 1vh 2vw; 
    font-size: 2vh; 
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s; 
  }
  
  .nav-button:hover {
    color: #fff; 
    text-shadow: 0 0 1vw #03bcf4, 0 0 2vw #03bcf4, 0 0 4vw #03bcf4, 0 0 8vw #03bcf4, 0 0 16vw #03bcf4; 
    border-bottom: 0.3vh solid #03bcf4; 
  }


.nav-buttons {
    display: flex;
    justify-content: space-evenly;
    position: fixed; 
    top: 0; 
    width: 100%; 
    padding: 20px 0; 
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1001; 
}

.nav-button {
    color: #03bcf4; 
    padding: 1vh 2vw; 
    font-size: 2vh; 
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s; 
    z-index: 1001; 
    
}

.nav-button:hover {
    color: #fff; 
    text-shadow: 0 0 1vw #03bcf4, 0 0 2vw #03bcf4, 0 0 4vw #03bcf4, 0 0 8vw #03bcf4, 0 0 16vw #03bcf4; 
    border-bottom: 0.3vh solid #03bcf4; 
}


:root {
    --ciBlue: #03bcf4;
    --ciWhite: #ffffff;
    --ciSecond: #0c1016;
    --ciRed: #ff0000; 
}

.body,
.html {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--ciSecond);
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: var(--ciWhite);
    font-family: "Roboto";
    overflow-x: hidden;
}

.r * {
    box-sizing: border-box;
}

.main-container {
    position: relative;
    margin-top: 2cm; 
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem; 
    width: calc(90% + 4cm); 
    padding: 2rem;
    margin-top: 2cm; 
}

.card {
    position: relative;
    width: 30rem; 
    height: 23rem; 
    background: radial-gradient(
    150rem circle at 0 0,
    rgba(var(--ciBlue), 0),
    transparent 0%
    );
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.15s;
    margin-right: 3cm; 
    margin-bottom: 3cm; 
    margin-top: 3cm; 
}

.card:hover {
    transform: scale(0.97);
}

.card::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    background: radial-gradient(
    60rem circle at var(--xPos) var(--yPos),
    rgba(var(--ciBlue), 0.1),
    transparent 35%
    );
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

.card-content {
    background-color: #13161c;
    border-radius: inherit;
    transition: all 0.25s;
    height: calc(100% - 0.1rem);
    width: calc(100% - 0.1rem);
}

.card:hover::before {
    opacity: 1;
}

.currently-showing {
    position: absolute;
    top: 3cm; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    color: #03bcf4;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(3, 188, 244, 0.7),
    0 0 20px rgba(3, 188, 244, 0.7), 0 0 40px rgba(3, 188, 244, 0.7);
    z-index: 1000;
}

.card-buttons {
    display: flex;
    justify-content: center;
    margin-top: -3cm; 
}

.blue-btn {
    position: relative;
    display: inline-block;
    padding: 15px 20px; 
    font-size: 18px; 
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
    color: #03bcf4;
    border: 1.5px solid #03bcf4;
    border-radius: 7px;
    margin-right: 1rem; 
}

.blue-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1.5px solid #03e9f4; 
    border-radius: 7px; 
}

.blue-btn:hover::before {
    border-color: #050801; 
}

.blue-btn:hover {
    background-color: #03bcf4;
    color: #050801;
    box-shadow: 0px 0px 5px #03bcf4, 0px 0px 25px #03bcf4, 0px 0px 50px #03bcf4, 0px 0px 100px #03bcf4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.lower-cards {
    margin-top: 3cm; 
}

.card-group {
    display: flex;
    gap: 2rem; 
}


.card-info {
    color: var(--ciRed); 
    margin-top: -10cm; 
}




