.back-button0 {
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    background: transparent;
    color: #03bcf4;
    font-size: 24px;
    cursor: pointer;
    text-shadow: 0 0 8px #e3e7e9, 0 0 12px #00b9e7;
}

.error{
    color: red;
    font-weight: bold;
    margin-top: 10px;

}


.container0 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    width: 600px;
    background: #001c227a;
    padding-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px #02c2cf, 0 0 12px #000000;
}

.header0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    -webkit-box-reflect: belo w 15px linear-gradient(transparent, rgba(0, 59, 73, 0.459));
    line-height: 0.70em;
    text-shadow: 0 0 5px #00b9e7, 0 0 12px #002b35;
}

.text0 {
    color: #03bcf4;
    font-size: 48px;
    font-weight: 700;
}

.inputs0 {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input0 {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input0 img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.input0 input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password0 {
    padding-left: 62px;
    margin-top: 27px;
    color: #faf7f7;
    font-size: 18px;
    text-shadow: 0 0 8px #00b9e7, 0 0 12px #002b35;
    -webkit-box-reflect: below -6px linear-gradient(transparent, rgba(0, 0, 0, 0.322));
}

.forgot-password0 span {
    color: #03bcf4;
    cursor: pointer;
}


.submit-container0 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 60px auto;
}

.submit0 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #233f41;
    background: #03bcf4;
    box-shadow: 0 0 8px #03bcf4, 0 0 12px #000000;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.171));
}

.submit.gray0 {
    background: #eaeaea;
    color: #233f41;
}